
<div id="nav_component">
    <div id="top">
        <div id="title" routerLink="/home" >
            <h1>éc(h)os</h1>
            <h2>la Gazette du Vivant | Basse Ardenne</h2>
        </div>
        <!-- <div id="anim"></div>   -->
    </div>
    <div id="nav_wrap">
        <button class="home" routerLink="/home">
        </button>
        <button class="nav_sections" routerLink="/news">
            <div class="nav_txt">NEWS</div>
        </button>
        <button class="nav_sections" routerLink="/dossiers" >
            <div class="nav_txt">DOSSIERS</div>
        </button>
        <button class="nav_sections" routerLink="/rencontres">
            <div class="nav_txt">RENCONTRES</div>
        </button>
        <button class="nav_sections" routerLink="/lectures">
            <div class="nav_txt">LECTURES</div>
        </button>
        <button class="nav_sections" routerLink="/billets">
            <div class="nav_txt">BILLETS</div>
        </button>
        <button class="nav_sections" routerLink="/photos">
            <div class="nav_txt">À PROPOS</div>
        </button>
        <div class="search" routerLink="/photos">
        </div>
    </div>
</div>
