
<footer>
    <div id="footer_left">
        <div class="ftr">PAGES</div>
        <div class="ftr">news</div>
        <div class="ftr"><a>dossiers</a></div>
        <div class="ftr"><a>billets</a></div>
        <div class="ftr"><a>rencontres</a></div>
        <div class="ftr"><a>lectures</a></div>
        <div class="ftr"><a>à propos</a></div>
        <div class="ftr"><a>login</a></div>
    </div>
    <div id="footer_center">
        <div class="ftr">CONTACT</div>
        <div class="ftr">blabla</div>
        <div class="ftr">pouet</div>
        <div class="ftr">mentions légales</div>
        <div class="ftr">charte</div>
        <div class="ftr">vulve</div>
    </div>
    <div id="footer_right">
        <div class="ftr">version 0.4</div>
        <div class="ftr">2024</div>
        <div class="ftr"><a>copyright</a></div>
        <div class="ftr">made by</div>
        <!-- <div class="ftr"><a>Tristan Roel</a></div> -->
        <div class="ftr">
            <div class="trlogo"></div>
            <div>
                <!-- <div>Tristan</div>
                <div>Roel</div> -->
            </div>
        </div>
    </div>
</footer>