@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

input {
    width: 100%;
    padding: 3px;
}
h3{
    padding: 5px;
    border: 3px solid black;
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.create{
    position: relative;
    background-color: rgb(33, 144, 114);
    display: flex;
    justify-content: center;
    transform: scale(1,1);
}
form{
    //background-color: aqua;
    padding: 5px;
    color: white;
    width: 90%;
    button{
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin: 20px;
        padding: 20px;
        font-weight: bolder;
        font-stretch: expanded;
        border: none;
        color: rgb(33, 144, 114);
    }
}
form > *{
    //background-color: brown;
    padding: 3px;
    font-size: small;
}
#text{
    height: 500px;
    padding: 3px;
    width: 100%;
}
.helptext{
    position: absolute;
    color: black;
    background-color: white;
    text-align: center;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.helptext_content:hover::before{
    
}
@media only screen and (max-width: 1000px) {
    
}