<div class="title_dossier"><h3>DOSSIERS</h3></div>
<div id="dossier_component">
    <div class="dossier" *ngFor="let item of articles">
        <div class="e"></div>
        <h2>{{item.title}}</h2>
        <!-- <img src="{{returnUrl(item.image_link)}}" alt="" srcset=""> -->
        <div class="img_dossier" [style.background-image]="'url('+ returnUrl(item.image_link) +')'"></div>
        <div [innerHTML]="item.text | slice : 0 : 300"></div>
        <div class="end_article">
            <div class="suite_txt"><p>... suite</p></div>
        </div>
        <div class="article_overlay"></div>
    </div>
    <div class="dossier">
        <div class="e"></div>
        <H2>Lorem ipsum dolor sit amet consectetur.</H2>
        <img src="https://jardinage.lemonde.fr/images/dossiers/2016-12/scarabee1-160039.jpg">
        <p>
            {{articleText | slice : 0 : 300}}
        </p>
        <div class="suite_txt"><p>... suite</p></div>
    </div>
    <div class="dossier">
        <div class="e"></div>
        <H2>Lorem ipsum dolor sit amet consectetur.</H2>
        <!-- <img src="https://jardinage.lemonde.fr/images/dossiers/2016-12/scarabee1-160039.jpg"> -->
        <p>
            {{articleText | slice : 0 : 600}}
        </p>
        <div class="suite_txt"><p>... suite</p></div>
    </div>
    <div class="dossier">
        <div class="e"></div>
        <H2>Lorem ipsum dolor sit amet consectetur.</H2>
        <!-- <img src="https://jardinage.lemonde.fr/images/dossiers/2016-12/scarabee1-160039.jpg"> -->
        <p>
            {{articleText | slice : 0 : 600}}
        </p>
        <div class="suite_txt"><p>... suite</p></div>
    </div>
    <div class="dossier">
        <div class="e"></div>
        <H2>Lorem ipsum dolor sit amet consectetur.</H2>
        <!-- <img src="https://jardinage.lemonde.fr/images/dossiers/2016-12/scarabee1-160039.jpg"> -->
        <p>
            {{articleText | slice : 0 : 600}}
        </p>
        <div class="suite_txt"><p>... suite</p></div>
    </div>

</div>