
<div class="green">
</div>
<div id="home_component">
    <div class="wrapL">
        <app-news></app-news>
        <div id="overlay"></div>
        <button routerLink="/news"class="more">...plus de news</button>
    </div>
    <div class="wrapR">
        <app-sondages></app-sondages>
        <app-balades></app-balades>
        <app-info-pub></app-info-pub>
        <!-- <div id="infohome">
        </div> -->
    </div>
</div>
<div class="home_component2">
    <app-dossiers id="doss"></app-dossiers>
</div>
<div class="home_component2">
    <app-billets></app-billets>
</div>